@tailwind base;
@tailwind components;
@tailwind utilities;


@import "./system-fonts.css";

body {
  font-family: 'InterRegular';
}

article a[target='_blank']:after {
    content: ' \21aa';
}

code {
  font-family: 'Courier';
  font-weight: bolder;
  font-size: 1.1em;
}

.center {
  display: block;
  width: 30%;
  margin: auto;
}



/* CSS for Dev Journeys Genially */

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
    height: 0px;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
    height: 0px;
  }
  .mobile {
    height: 1000px;
  }
}

/* CSS for HOME */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(/device-cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #FF5300;
  color: #FFFFFF;
  padding: 10px 25px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.projects .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.projects .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.projects .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.about-us img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-us-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-us-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.nextra-content h3 {
  font-weight: normal;
}

.nextra-content h4 {
  text-indent: 3%;
  font-weight: normal;
}

@layer components {
  .transition-right { 
    @apply transition-all group-hover:translate-x-1 group-hover:transform
  }
  .transition-left { 
    @apply transition-all group-hover:-translate-x-1 group-hover:transform
  }
}

.font-inter {
  font-family: 'Inter';
}

.font-inter-medium {
  font-family: 'Inter Medium';
}

.font-mono-medium {
  font-family: 'HMAlphaMono';
}

.tagText {
  @apply text-p-tag font-semibold uppercase;
}
