{% assign url = page.url | split: "/" %}
{% assign category = url[2] %}

{% if category == "nano-app" %}
  {% assign docs = site.data.navigation_docs_na_linear | map: 'docs' | join: ',' | split: ',' %}
{% elsif category == "coin"  %}
  {% assign docs = site.data.navigation_docs_ci | map: 'docs' | join: ',' | split: ',' %}
{% elsif category == "dapp"  %}
  {% assign docs = site.data.navigation_docs_da | map: 'docs' | join: ',' | split: ',' %}
{% elsif category == "speculos"  %}
  {% assign docs = site.data.navigation_docs_sp | map: 'docs' | join: ',' | split: ',' %}
{% elsif category == "token"  %}
  {% assign docs = site.data.navigation_docs_et | map: 'docs' | join: ',' | split: ',' %}
{% elsif category == "platform-app"  %}
  {% assign docs = site.data.navigation_docs_pa | map: 'docs' | join: ',' | split: ',' %}
{% endif %}


{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/" | append:"/" %}
  {% if document_url == page.url %}
    <div class="uk-margin-large-top paginate-post">
        <div class="uk-child-width-expand@s uk-grid-large uk-pagi" data-uk-grid>
            <div>
                {% if forloop.first %}
                {% else %}
                  {% assign previous = forloop.index0 | minus: 1 %}
                  {% assign previous_page = docs[previous] | prepend:"/docs/" | append:"/" %}
                  {% assign previous_doc = site.docs | where:"url", previous_page | first %}
                    <h5>{{previous_doc.title}}</h5>
                    <div><a class="remove-underline hvr-back" href="{{previous_page}}">&larr; {{ site.data.translation[site.lang].previous | default: "Previous" }}</a></div>
                {% endif %}
            </div>
            <div>
                {% if forloop.last %}
                {% else %}
                  {% assign next = forloop.index0 | plus: 1 %}
                  {% assign next_page = docs[next] | prepend:"/docs/" | append:"/" %}
                  {% assign next_doc = site.docs | where:"url", next_page| first %}
                    <h5 class="uk-text-right">{{next_doc.title}}</h5>
                    <div class="uk-text-right"><a class="remove-underline hvr-forward" href="{{next_page}}">{{ site.data.translation[site.lang].next | default: "Next" }} &rarr;</a></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% break %}
  {% endif %}
{% endfor %}
